<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.github.pius-pp.celestial-service.service</string>

    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>io.github.pius-pp.celestial-service</string>
    </array>

    <key>MachServices</key>
    <dict>
        <key>io.github.pius-pp.celestial-service.service</key>
        <true/>
    </dict>

    <key>ProgramArguments</key>
    <array>
        <string>/Library/PrivilegedHelperTools/io.github.pius-pp.celestial-service.service.bundle/Contents/MacOS/celestial-service</string>
    </array>

    <key>GroupName</key>
    <string>{group_name}</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
